

body {
      display: flex;
      align-items: center;
      justify-content: center;
}

.board-container {
      margin-top: 40px;
      display: flex;
      
}

.tile {
      border: 1px solid black;
      width: 30px;
      height: 30px;
      font-size: 12px;
      font-weight: bold;
      padding: 5px 5px;

      display: flex;
      justify-content: center;
      align-items: center;
}

.puzzle-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.title {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 0px;
      margin: 0px 0px;
      font-size: 28px;
}

.status {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px 0px;
      font-size: 16px;
}


.tile-unexplored {
      background: rgb(230,224,224);
      border-style: inset
}

.tile-unexplored:hover {
      background: grey;
}

.tile-explored {
      background: grey;
      border-style: outset;
}

.tile-bomb {
      background: red;
      border-style: outset;
}

.tile-selected {
      background-color: green;
      border-style: inset;
}
.number-hint-left-row, .number-hint-top-row {
      display: flex;
      justify-content: end;
      align-items: center;

      height: 32px;
      width: 32px;
      font-size: 12px;
      font-weight: bold;
      padding: 5px 5px;
      color: rgb(73, 69, 69);
}

.number-hint-left-row {
      flex-direction: row;
}

.number-hint-top-row {
      flex-direction: column;
}

.number-hint-top-item {
      padding: 3px;      
}

.number-hint-left-item {
      padding: 5px;
}

.hint-crossout {
      text-decoration: line-through;
      color: lightgray;
}