/*library css */

.saved-puzzles {
      width: 500px;
      height: 170px;
      /* background-color: grey; */
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.made-puzzles {
      width: 500px;
      height: 170px;
      /* background-color: grey; */
      display: flex;
      justify-content: space-between;
}

.cover-puzzle {
      /* flex-direction: row; */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 140px;
      height: 140px;
      background-color: #5B6ED9;
      margin: 5px;
      border-radius: 10px;
}

.cover-puzzle:hover {
      transform: scale(1.2)
}


.library-board-container {
      display: flex;
      align-items: center;
      justify-content: center;
      
      border-radius: 15px;
}

.library-board-container > tbody {
      width: 120px;
      height: 120px;
      padding: 0px;
      margin: 0px;
}
.library-board-row {
      justify-content: center;
      align-items: center;
}

.library-tile {
      
      border: none;
      padding: 0px;
}

.library-tile-5x5 {
      height: 24px;
      width: 24px;
}

.library-tile-10x10 {
      width: 12px;
      height: 12px;
}

.library-tile-15x15 {
      width: 8px;
      height: 8px;
}

.library-tile-20x20 {
      width: 6px;
      height: 6px;
}

.library-tile-unexplored {
      background: #F2F2F2;

}

.library-tile-bomb {

}

.library-tile-explored {
      background: #5B6ED9;

}

.library-tile-flagged {

}