/*library css */

.saved-puzzles {
      width: 500px;
      height: 170px;
      /* background-color: grey; */
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.made-puzzles {
      width: 500px;
      
      /* background-color: grey; */
      display: flex;
      justify-content: space-between;
}

.cover-puzzle {
      /* flex-direction: row; */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 140px;
      height: 140px;
      background-color: rgb(156, 156, 209);
      margin: 5px;
      border-radius: 10px;
      margin-bottom: 10px;
}

.cover-puzzle:hover {
      transform: scale(1.2)
}


.library-board-container {
      display: flex;
      align-items: center;
      justify-content: center;
      
      border-radius: 15px;
      
}

.library-board-container > tbody {
      width: 120px;
      height: 120px;
      padding: 0px;
      margin: 0px;
}
.library-board-row {
      justify-content: center;
      align-items: center;
}

.library-tile {
      
      border: none;
      padding: 0px;
}

.library-tile-5x5 {
      height: 24px;
      width: 24px;
}

.library-tile-10x10 {
      width: 12px;
      height: 12px;
}

.library-tile-15x15 {
      width: 8px;
      height: 8px;
}

.library-tile-20x20 {
      width: 6px;
      height: 6px;
}

.library-tile-unexplored {
      background: #F2F2F2;

}

.library-tile-bomb {

}

.library-tile-explored {
      background: #b9c3fc;

}

.library-tile-flagged {

}

.made-puzzles {
      flex-wrap: wrap;
      
}

#library-modal-child {
      height: 100%;
      
}

#library-modal {
      height: 100%;
}

#library {
      height: 100%;
      justify-content:start;
      overflow-y: auto;
      padding-bottom: 20px;
}

.close-button.library-close-button {
      margin-left: 0px;
      margin-right: 20px;
      position: inherit;
      width: 95%;
      
}

#library-item {
      margin-top: 40px;
}



.cover-puzzle:active {
      
      background: rgb(129, 129, 199);
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

