<div class="puzzle-content-container">
      <table class="board-container">
            <tbody>
                  <tr class="number-hints-left-content">
                        <td class="number-hint-left-row"></td>
                        <td class="number-hint-left-row">
                              <div class="number-hint-left-item">4</div>
                              <div class="number-hint-left-item">2</div>
                        </td>
                        <td class="number-hint-left-row">
                              <div class="number-hint-left-item">1</div>
                              <div class="number-hint-left-item">2</div>
                        </td>
                        <td class="number-hint-left-row">
                              <div class="number-hint-left-item">2</div>
                              <div class="number-hint-left-item hint-crossout">1</div>
                              <div class="number-hint-left-item">1</div>
                        </td>
                        <td class="number-hint-left-row">
                              <div class="number-hint-left-item">4</div>
                              <div class="number-hint-left-item">1</div>
                        </td>
                        <td class="number-hint-left-row">
                              <div class="number-hint-left-item">2</div>
                              <div class="number-hint-left-item">2</div>
                        </td>
                        <td class="number-hint-left-row">
                              <div class="number-hint-left-item">1</div>
                              <div class="number-hint-left-item">1</div>
                              <div class="number-hint-left-item">1</div>
                        </td>
                        <td class="number-hint-left-row">
                              <div class="number-hint-left-item">1</div>
                              <div class="number-hint-left-item">1</div>
                        </td>
                        <td class="number-hint-left-row">
                              <div class="number-hint-left-item">1</div>
                              <div class="number-hint-left-item">1</div>
                              <div class="number-hint-left-item">1</div>
                              <div class="number-hint-left-item">2</div>
                        </td>
                        <td class="number-hint-left-row">
                              <div class="number-hint-left-item">1</div>
                              <div class="number-hint-left-item">2</div>
                        </td>
                        <td class="number-hint-left-row">
                              <div class="number-hint-left-item">1</div>
                              <div class="number-hint-left-item">1</div>
                              <div class="number-hint-left-item">1</div>
                              <div class="number-hint-left-item">1</div>
                        </td>
                  </tr>
                  <tr class="board-row board-row-0">
                        <td class="number-hint-top-row">
                              <div class="number-hint-top-item">1</div>
                              <div class="number-hint-top-item">1</div>
                        </td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                  </tr>
                  <tr class="board-row board-row-1">
                        <td class="number-hint-top-row">
                              <div class="number-hint-top-item">1</div>
                              <div class="number-hint-top-item">1</div>
                              <div class="number-hint-top-item">1</div>
                              <div class="number-hint-top-item">1</div>
                        </td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                  </tr>
                  <tr class="board-row board-row-2">
                        <td class="number-hint-top-row">
                              <div class="number-hint-top-item">1</div>
                              <div class="number-hint-top-item">1</div>
                        </td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-bomb num-💣">💣</td>
                        <td class="tile tile-bomb num-💣">💣</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                  </tr>
                  <tr class="board-row board-row-3">
                        <td class="number-hint-top-row">
                              <div class="number-hint-top-item">2</div>
                              <div class="number-hint-top-item hint-crossout">1</div>
                              <div class="number-hint-top-item">1</div>
                              <div class="number-hint-top-item">1</div>
                        </td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-explored num-E">E</td>
                        <td class="tile tile-bomb num-💣">💣</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                  </tr>
                  <tr class="board-row board-row-4">
                        <td class="number-hint-top-row">
                              <div class="number-hint-top-item">2</div>
                              <div class="number-hint-top-item">2</div>
                        </td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-bomb num-💣">💣</td>
                        <td class="tile tile-explored num-E">E</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                  </tr>
                  <tr class="board-row board-row-5">
                        <td class="number-hint-top-row">
                              <div class="number-hint-top-item">1</div>
                              <div class="number-hint-top-item">2</div>
                              <div class="number-hint-top-item">1</div>
                        </td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-bomb num-💣">💣</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                  </tr>
                  <tr class="board-row board-row-6">
                        <td class="number-hint-top-row">
                              <div class="number-hint-top-item">4</div>
                              <div class="number-hint-top-item">2</div>
                        </td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-explored num-E">E</td>
                        <td class="tile tile-explored num-E">E</td>
                        <td class="tile tile-bomb num-💣">💣</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored tile-selected num--">-</td>
                  </tr>
                  <tr class="board-row board-row-7">
                        <td class="number-hint-top-row">
                              <div class="number-hint-top-item">1</div>
                              <div class="number-hint-top-item">1</div>
                        </td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-bomb num-💣">💣</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored tile-selected num--">-</td>
                        <td class="tile tile-unexplored tile-selected num--">-</td>
                  </tr>
                  <tr class="board-row board-row-8">
                        <td class="number-hint-top-row">
                              <div class="number-hint-top-item">1</div>
                              <div class="number-hint-top-item">3</div>
                        </td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                  </tr>
                  <tr class="board-row board-row-9">
                        <td class="number-hint-top-row">
                              <div class="number-hint-top-item">4</div>
                              <div class="number-hint-top-item">1</div>
                              <div class="number-hint-top-item">1</div>
                        </td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                        <td class="tile tile-unexplored num--">-</td>
                  </tr>
            </tbody>
      </table>
</div>