.number-hint-left-row,
.number-hint-top-row {
      display: flex;
      justify-content: end;
      align-items: center;

      height: 32px;
      width: 32px;
      font-size: 12px;
      font-weight: bold;
      /* padding: 5px 5px; */
      color: rgb(73, 69, 69);
}

.number-hints-left-content {
      display: flex;
      justify-content: center;
      align-items: center;
}

.number-hint-left-row {
      flex-direction: column;
}

.number-hint-top-row {
      flex-direction: row;
}

.number-hint-top-item {
      padding: 5px;
}

.number-hint-left-item {
      padding: 2px;
}

.hint-crossout {
      text-decoration: line-through;
      color: lightgray;
}


.hint-tile-5x5 {
      width: 98px;
      height: 98px;
      font-size: 18px;
}

.hint-tile-10x10 {
      width: 50px;
      height: 48px;
      font-size: 16px;
}

.hint-tile-15x15 {
      width: 38px;
      height: 38px;
      font-size: 14px;
}

.hint-tile-20x20 {
      width: 26px;
      height: 26px;
      font-size: 12px;
}



.number-hints-left-item {
      /* color: white; */
      padding-right: 10px;
      text-align: right;
      vertical-align: middle
}

.number-hints-right-item {
      /* color: white; */
      padding-bottom: 5px;
      text-align: center;
      vertical-align: bottom;
}