.instruction-form {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.manual {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    min-height: 200px;
    background: white;
    display: flex;
    opacity: 1;
    border-radius: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    min-height: 580px;
    min-width: 530px;
    /*below might not be needed if not enough content */
    max-height: calc(100vh - 210px);
        overflow-y: auto;
}

.close-button {
    z-index: 1111;
    height: 40px;
    width: 40px;
    right: 20px;
    top: 70px;
    position: absolute;
    margin: 10px;
    cursor: pointer;
}

.login-message {
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 1.5px;
    padding-top: 10px;
    padding-bottom: 30px;
    color: #3854A6;
}

label {
    padding: 5px;
    display: block;
}

button {
    display: block;
    padding: 10px;
    margin: 20px;
    font-weight: 700;
}




.text-box input {
    background-color: transparent;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    margin: 4px;
    border-color: rgb(216, 215, 215);
    padding-left: 9px;
    font-size: 15px;
    width: 250px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
}

.login-button2 {
    width: 260px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    color: grey;
    background-color: #F2F2F2;
    margin: 4px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.login-button2:hover {
    transition: 0.5s;
    background-color: #5B6ED9;
    color: white;
}

.second-button {
    border: none;
    width: 260px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    background-color: #5B6ED9;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.other-form {
    border: none;
    width: 260px;
    height: 40px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    color: grey;
    background-color: white;
    padding: 12px;
    margin: 4px;
    border-color: rgb(216, 215, 215);
    border-style: solid;
    cursor: pointer;
}


.modal-instruction-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.modal-instruction-child {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 32px;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}

.manual-title {
    font-size: 18px;
    font-weight: 800;
    padding: 10px;
    color: #3854A6;
}

.manual-text {
    width: 500px;
    /* background-color: grey; */
    text-align: left;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    
}
li {
    padding-top: 9px;
}

/*library css */

.saved-puzzles {
    width: 500px;
    height: 170px;
    /* background-color: grey; */
    display: flex;
    align-items: center;

}

.made-puzzles {
    width: 500px;
    height: 170px;
    /* background-color: grey; */
    display: flex;
}

.cover-puzzle {
    /* flex-direction: row; */
    flex-wrap: wrap;
    width: 200px;
    height: 130px;
    background-color: #5B6ED9;
    margin: 5px;
    border-radius: 10px;
}

/*reveal puzzle css */

.cover-image {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    background: white;
    display: flex;
    opacity: 1;
    border-radius: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    min-height: 700px;
    min-width: 700px;
   
}

.modal-cover-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* background: rgba(0, 0, 0, 0.7); */
    z-index: 10;
}

.modal-cover-child {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 32px;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}

.message {
    align-items: center;
    text-align: center;
}